# Ignore everything recursively...
*

# But not the .{ts,js,html,css,scss,vue,json,md} files
!*.ts
!*.js
!*.html
!*.css
!*.scss
!*.vue
!*.json
!*.md

dist-electron/**

# But still ignore the dist folder
dist/**

# Check subdirectories too
!*/

